[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
gensim = "==3.8.3"
sklearn = "*"

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
jupyter = "*"
rise = "*"
plotly = "*"
jupyterlab = "*"
flake8 = "*"
autopep8 = "*"

[scripts]
test = "python -m unittest discover -v"
docs = "sphinx-build ./docs ./docs/_build"
jupyternotebook = "jupyter notebook --allow-root"
jupyterlab = "jupyter lab --allow-root"
